In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [51]:
df=pd.read_csv('Churn_Modelling.csv')

In [52]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [53]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [54]:
label_encoder_gender = LabelEncoder()
df["Gender"] = label_encoder_gender.fit_transform(df['Gender'])

In [55]:
one_hot_encoder = OneHotEncoder()
geo_encoded = one_hot_encoder.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [56]:
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [57]:
X = df.drop('EstimatedSalary',axis=1)
y = df['EstimatedSalary']

In [58]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [59]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [60]:
## Save the encoders and scaler
with open('label_encoder_gender1.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder1.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)
with open('scaler1.pkl','wb') as file:
    pickle.dump(scaler,file)

In [61]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [62]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

In [63]:
from keras.optimizers import Adam
from keras.losses import mean_absolute_error
adam=Adam()

In [64]:
model.compile(optimizer=adam,loss=mean_absolute_error,metrics=['mae'])

In [65]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                832

 dense_11 (Dense)            (None, 32)                2080

 dense_12 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [66]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir = "regression/fit/"+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [67]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [68]:
history = model.fit(
    X_train,y_train,
    validation_data = (X_test,y_test),
    epochs=100,
    callbacks = [early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100384.9062 - mae: 100384.9062 - val_loss: 98544.8203 - val_mae: 98544.8203
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99737.4531 - mae: 99737.4531 - val_loss: 97236.3516 - val_mae: 97236.3516
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 97465.3203 - mae: 97465.3203 - val_loss: 93899.5859 - val_mae: 93899.5859
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 92956.6406 - mae: 92956.6406 - val_loss: 88246.3828 - val_mae: 88246.3828
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 86223.8125 - mae: 86223.8125 - val_loss: 80766.9531 - val_mae: 80766.9531
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 78050.0625 - mae: 78050.0625 - val_loss: 72549.5781 - val_mae: 72549.5781
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 69683.5938 - mae: 69683.5938 - val_loss: 64843.5312 - val_mae: 64843.5312
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 62241.8867 - mae: 62241.8867 - val_loss: 58657.8906 - val_mae: 58657.8906
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 56798.0781 - mae: 56798.0781 - val_loss: 54597.8867 - val_mae: 54597.8867
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 53442.5039 - mae: 53442.5039 - val_loss: 52304.8516 - val_mae: 52304.8516
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 51628.3125 - mae: 51628.3125 - val_loss: 51331.0195 - val_mae: 51331.0195
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50839.1523 - mae: 50839.1523 - val_loss: 51005.4336 - val_mae: 51005.4336
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50504.3672 - mae: 50504.3672 - val_loss: 50878.6328 - val_mae: 50878.6328
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50350.0430 - mae: 50350.0430 - val_loss: 50809.4727 - val_mae: 50809.4727
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50248.7148 - mae: 50248.7148 - val_loss: 50762.3398 - val_mae: 50762.3398
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50176.5742 - mae: 50176.5742 - val_loss: 50722.3047 - val_mae: 50722.3047
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50121.9648 - mae: 50121.9648 - val_loss: 50678.3828 - val_mae: 50678.3828
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50072.5703 - mae: 50072.5703 - val_loss: 50643.3125 - val_mae: 50643.3125
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50030.6133 - mae: 50030.6133 - val_loss: 50611.3906 - val_mae: 50611.3906
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49990.6797 - mae: 49990.6797 - val_loss: 50590.4766 - val_mae: 50590.4766
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49962.2383 - mae: 49962.2383 - val_loss: 50555.6211 - val_mae: 50555.6211
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49929.6445 - mae: 49929.6445 - val_loss: 50527.1914 - val_mae: 50527.1914
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49899.6133 - mae: 49899.6133 - val_loss: 50509.1172 - val_mae: 50509.1172
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49872.8789 - mae: 49872.8789 - val_loss: 50490.3984 - val_mae: 50490.3984
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49845.9805 - mae: 49845.9805 - val_loss: 50488.0625 - val_mae: 50488.0625
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49821.0352 - mae: 49821.0352 - val_loss: 50466.5352 - val_mae: 50466.5352
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49798.7969 - mae: 49798.7969 - val_loss: 50448.1250 - val_mae: 50448.1250
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49777.0898 - mae: 49777.0898 - val_loss: 50438.6367 - val_mae: 50438.6367
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49760.3477 - mae: 49760.3477 - val_loss: 50423.5938 - val_mae: 50423.5938
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49737.1406 - mae: 49737.1406 - val_loss: 50417.1953 - val_mae: 50417.1953
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49719.9570 - mae: 49719.9570 - val_loss: 50414.7266 - val_mae: 50414.7266
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49700.3164 - mae: 49700.3164 - val_loss: 50393.7148 - val_mae: 50393.7148
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49686.1562 - mae: 49686.1562 - val_loss: 50395.3281 - val_mae: 50395.3281
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49672.7539 - mae: 49672.7539 - val_loss: 50386.6797 - val_mae: 50386.6797
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49658.4023 - mae: 49658.4023 - val_loss: 50379.8281 - val_mae: 50379.8281
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49642.2266 - mae: 49642.2266 - val_loss: 50376.3672 - val_mae: 50376.3672
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49632.1133 - mae: 49632.1133 - val_loss: 50370.1406 - val_mae: 50370.1406
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49617.6211 - mae: 49617.6211 - val_loss: 50360.8516 - val_mae: 50360.8516
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49607.6445 - mae: 49607.6445 - val_loss: 50346.1641 - val_mae: 50346.1641
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49595.9062 - mae: 49595.9062 - val_loss: 50350.9062 - val_mae: 50350.9062
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49585.6797 - mae: 49585.6797 - val_loss: 50353.1953 - val_mae: 50353.1953
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49576.0117 - mae: 49576.0117 - val_loss: 50346.1758 - val_mae: 50346.1758
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49565.5547 - mae: 49565.5547 - val_loss: 50337.6133 - val_mae: 50337.6133
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49557.9023 - mae: 49557.9023 - val_loss: 50344.2969 - val_mae: 50344.2969
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49546.5469 - mae: 49546.5469 - val_loss: 50343.3945 - val_mae: 50343.3945
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49541.8711 - mae: 49541.8711 - val_loss: 50334.5938 - val_mae: 50334.5938
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49531.6289 - mae: 49531.6289 - val_loss: 50337.5352 - val_mae: 50337.5352
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49522.1758 - mae: 49522.1758 - val_loss: 50341.3828 - val_mae: 50341.3828
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49513.7188 - mae: 49513.7188 - val_loss: 50336.6992 - val_mae: 50336.6992
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49505.2422 - mae: 49505.2422 - val_loss: 50336.2852 - val_mae: 50336.2852
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49498.7383 - mae: 49498.7383 - val_loss: 50324.4453 - val_mae: 50324.4453
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49492.8945 - mae: 49492.8945 - val_loss: 50323.9570 - val_mae: 50323.9570
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49484.3125 - mae: 49484.3125 - val_loss: 50333.2773 - val_mae: 50333.2773
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49479.5273 - mae: 49479.5273 - val_loss: 50331.5078 - val_mae: 50331.5078
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49470.7305 - mae: 49470.7305 - val_loss: 50323.1250 - val_mae: 50323.1250
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49463.7656 - mae: 49463.7656 - val_loss: 50322.2461 - val_mae: 50322.2461
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49458.3359 - mae: 49458.3359 - val_loss: 50331.6797 - val_mae: 50331.6797
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49453.1016 - mae: 49453.1016 - val_loss: 50336.6211 - val_mae: 50336.6211
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 49446.4531 - mae: 49446.4531 - val_loss: 50328.8672 - val_mae: 50328.8672
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 49443.6289 - mae: 49443.6289 - val_loss: 50332.0078 - val_mae: 50332.0078
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49434.4531 - mae: 49434.4531 - val_loss: 50327.6797 - val_mae: 50327.6797
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49428.5938 - mae: 49428.5938 - val_loss: 50331.3438 - val_mae: 50331.3438
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 49422.9805 - mae: 49422.9805 - val_loss: 50342.7852 - val_mae: 50342.7852
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 49419.4414 - mae: 49419.4414 - val_loss: 50327.4023 - val_mae: 50327.4023
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 49416.3633 - mae: 49416.3633 - val_loss: 50330.4727 - val_mae: 50330.4727
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 49410.1250 - mae: 49410.1250 - val_loss: 50337.3945 - val_mae: 50337.3945

In [69]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [70]:
%tensorboard --logdir regression/fit/

Reusing TensorBoard on port 6006 (pid 15452), started 0:21:20 ago. (Use '!kill 15452' to kill it.)

In [71]:
test_loss,test_mae=model.evaluate(X_test,y_test)

63/63 [==============================] - 0s 807us/step - loss: 50322.2461 - mae: 50322.2461

In [72]:
model.save('regression_model.h5')

e:\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(